body {
      font-family: Arial, Helvetica, sans-serif;
}

.flex {
      display: flex;
}

.align-top {
      align-items: flex-start;
}

.align-center {
      align-items: center;
}

.align-bottom {
      align-items: flex-end;
}

.just-around {
      justify-content: space-around;
}

.just-between {
      justify-content: space-between;
}

.box {
      border: 1px solid;
      color: white;
      text-align: center;
      line-height: 40px;
      padding: 5px;
      min-height: 50px;
}

.big-box {
      min-height: 100px;
}

.margin-bottom {
      margin-bottom: 20px;
}

.blue {
      background-color: #006CFA;
}

.green {
      background-color: #00E165;
}